## Урок 8. Снижение размерности данных
### Домашнее задание
#### Можно ли отобрать наиболее значимые признаки с помощью PCA?

Нет, нельзя, т.к. после выполнения преобразований исходного вектора признаков будет получена некая проекция вектора признаков, и все значения вектора проекции будут являтся некой комбинацией первоначальных знаений вектора признаков

Тем не менее, ниже применен PCA к данным соревнования. Прошу пояснить полученный результат. Считаю, что он не правомерен, но все же, не до конца понимаю почему. 

Ячейка 13:

26066.676296670114 age
10542.725697452883 physics
10360.101981618582 chemistry
10226.460597245634 biology
10009.685841950413 geography
9892.13724870056 history
9855.63292274569 mean_exam_points
9746.00687077991 english
8775.616573285173 qualification
2522.2944786246603 lesson_price
2002.661490926397 years_of_experience

Такого рода построение не имеет смысла. Почему?

In [1]:
import numpy as np
import pandas as pd

In [2]:
DATASET_PATH = r'C:\Users\SR_Ad\PycharmProjects\SAVI\test\train.csv'
df=pd.read_csv(DATASET_PATH, sep=',')
df.shape

(10000, 12)

In [3]:
df.head(5)

,Id,age,years_of_experience,lesson_price,qualification,physics,chemistry,biology,english,geography,history,mean_exam_points
0,0,40.0,0.0,1400.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,63.0
1,1,48.0,4.0,2850.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,86.0
2,2,39.0,0.0,1200.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,53.0
3,3,46.0,5.0,1400.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,56.0
4,4,43.0,1.0,1500.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,59.0

In [4]:
df.describe()

,Id,age,years_of_experience,lesson_price,qualification,physics,chemistry,biology,english,geography,history,mean_exam_points
count,10000.00000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4999.50000,45.878000,1.986800,1699.105000,1.719500,0.375000,0.132900,0.109600,0.053700,0.032100,0.019400,64.340800
std,2886.89568,8.043929,1.772213,524.886654,0.792264,0.484147,0.339484,0.312406,0.225436,0.176274,0.137933,13.536823
min,0.00000,23.000000,0.000000,200.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,32.000000
25%,2499.75000,40.000000,0.000000,1300.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,55.000000
50%,4999.50000,46.000000,2.000000,1500.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,63.000000
75%,7499.25000,51.000000,3.000000,2150.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,73.000000
max,9999.00000,68.000000,10.000000,3950.000000,4.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,100.000000

In [5]:
features=df.columns[1:]

In [6]:
X_train=df[df.columns[1:]].values

In [7]:
X_train.shape

(10000, 11)

In [8]:
X = X_train.astype(float)
rows, cols = X_train.shape
means = X_train.mean(0) 
A = (X - means)
std = np.std(A, axis=0)
Z= A/std

In [9]:
covariance_matrix = np.dot(Z.T, Z)

eig_values, eig_vectors = np.linalg.eig(covariance_matrix)
eig_pairs = [(np.abs(eig_values[i]), eig_vectors[:, i]) for i in range(len(eig_values))]

In [10]:
eig_values

array([26066.67629667,  2002.66149093,  2522.29447862,  8775.61657329,
       10542.72569745, 10360.10198162, 10226.46059725,  9746.00687078,
       10009.68584195,  9892.1372487 ,  9855.63292275])

In [11]:
eig_pairs.sort(key=lambda x: x[0], reverse=True)
for i in eig_pairs:
    print(i[0], features[ list(eig_values).index(i[0])])

26066.676296670114 age
10542.725697452883 physics
10360.101981618582 chemistry
10226.460597245634 biology
10009.685841950413 geography
9892.13724870056 history
9855.63292274569 mean_exam_points
9746.00687077991 english
8775.616573285173 qualification
2522.2944786246603 lesson_price
2002.661490926397 years_of_experience

In [12]:
var_exp = [(i/sum(eig_values))*100 for i in sorted(eig_values, reverse=True)]
cum_var_exp = np.cumsum(var_exp)

In [13]:
var_exp

[23.696978451518284,
 9.584296088593529,
 9.418274528744163,
 9.296782361132392,
 9.0997144017731,
 8.992852044273235,
 8.959666293405173,
 8.860006246163552,
 7.9778332484410655,
 2.292994980567873,
 1.8206013553876335]